<div class="col-md-6 container">

    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="productName">Product Name</label>
            <input type="text" class="form-control" id="title" formControlName="title">
            <div class="alert alert-danger" [hidden]="title.valid || title.pristine">Title is required</div>

        </div>
        <div class="form-group">
            <label for="productImage">Image URL</label>




            <input type="text" class="form-control" id="image" formControlName="image">
            <div class="alert alert-danger" [hidden]="image.valid || image.pristine">Image is required</div>

        </div>
        <div class="form-group">
            <label for="productDescription">Product Description</label>
            <input type="text" class="form-control" id="description" formControlName="description">
            <div class="alert alert-danger" [hidden]="description.valid || description.pristine">Description is required
            </div>

        </div>
        <div class="form-group">
            <label for="productPrice">Product Price</label>
            <input type="text" class="form-control" id="price" formControlName="price">
            <div class="alert alert-danger" [hidden]="price.valid || price.pristine">Price is required</div>

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>